@model BitBooking.DAL.Models.UserComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccomodationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccomodationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserCommentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
