@model BitBooking.DAL.Models.Photo
@{
    ViewBag.Title = "AccomodationPhotos";
}

<h2>List of Photos For Your Accomodation</h2>
<img src="http://www.gnws.eu.com/data1/images/banner5.jpg"  style="width:100%" alt="Alternate Text" />
<div class="row">
    <div class="col-sm-4">

        

        @using (Html.BeginForm("Create", "Photos", FormMethod.Post, new { enctype = "multipart/form-data", id = "createphoto" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Simply Add Your Pics from PC</h4>
                <div class="listedphotos"> </div>
                <hr />
                <h1>Upload:</h1>
                @Html.HiddenFor(model => model.RoomTypeId)
                @Html.HiddenFor(model => model.Priority)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.PhotoUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhotoUrl, new { htmlAttributes = new { @class = "form-control", type = "File", accept = "image/png, image/jpeg" } })
                        @Html.ValidationMessageFor(model => model.PhotoUrl, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                        <div class="messages"></div>
                        <p class="bg-danger"    style="font-size:medium" >Please Upload Your photos</p>
                    </div>
                </div>
            </div>
        }
    </div>
 
        <div class="col-sm-8  ">
            <br>
            <p>Your UPLOADED PHOTOS</p>
            <div class="pictureplace"></div>
        </div>
    </div>


        @section scripts
    {


            <script>

                function myFunction(ajdi) {
                   
                    //$('messages').html("Oznacena slika");
                  //  var button = $(event.relatedTarget);
                    //var id = ajdi;
                    console.log(ajdi);
                    if ($(".field-validation-error").text() === "") {
                       // var formData = new FormData(this);
                        $.ajax({
                            url: "/Photos/MakeOne/" + ajdi,
                            method: "POST",
                        }).success(function (msg) {
                            console.log(ajdi);
                            $('.messages').html("<div class='alert alert-success'><strong>Success! You Made primary picture!</strong> Indicates a successful or positive action.</div>");
                            // $('.pictureplace').append("<img style='float:left; margin-bottom:5px' id='clicked' data-id='"+msg+"' class='img-responsive img-thumbnail' src='" + msg + "'alt='...' width='150px', heigth='150px'><h1>   </h1>");
                            //$('.bg-danger').html("UPLOADING Completed Successfuly");

                            // bootbox.hideAll();
                            // EditDialog(msg);
                        }).error(function (msg) {
                            console.log("ajdi kaze cene");
                            console.log(msg);
                            //bootbox.alert("Fail")
                        });
                    }
                };

                $(document).ready(function () {
                    
                   







                    $('form').on("submit", function (e) {
                        e.preventDefault();
                        $('.bg-danger').html("UPLOADING WAIT...");
                        if ($(".field-validation-error").text() === "") {
                            var formData = new FormData(this);
                            $.ajax({
                                url: "/Photos/CreateType2/",
                                data: formData,
                                method: "POST",
                                processData: false,
                                contentType: false,
                            }).success(function (msg) {
                                console.log(msg);

                                $('.pictureplace').append("<div class='col-lg-4'><img  id='clicked' data-id='" + msg.PhotoId + "' class='img-responsive img-thumbnail' src='" + msg.PhotoUrl + "'alt='...' width='150px', heigth='150px'><h1>  <button data-id='" + msg.PhotoId + "' type='button'  style='; width:150px; margin-bottom:5px' class='btn btn-success btn-lg' onclick='myFunction("+msg.PhotoId+")'>Make Cover</button>  </h1></div>");
                                $('.bg-danger').html("UPLOADING Completed Successfuly");

                                // bootbox.hideAll();
                                // EditDialog(msg);
                            }).error(function (msg) {
                                //bootbox.alert("Fail")
                            });
                        }
                    });
                });
            </script>
        }
