@model BitBooking.DAL.Models.Job

@{
    Layout = null;
    ViewBag.Title = "Create";
}
<div class="container">
    <div class="letters">
        <br /><center><h8>Add new job offer</h8></center>
    </div>

    <form novalidate="novalidate" ng-submit="SRCtrl.SellerService.newJob()" class="form-horizontal">

        <div class="form-horizontal">
            <h4>Job</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @ng_model = "SRCtrl.SellerService.jobName", @required = "required", @class = "form-control", type = "string" } })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @ng_model = "SRCtrl.SellerService.jobDescription", @required = "required", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Salary, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @ng_model = "SRCtrl.SellerService.jobSallary", @required = "required", @class = "form-control", @type = "number" } })
                    @Html.ValidationMessageFor(model => model.Salary)
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>

    </form>


    <hr /><br />
    <div>
        <center>
            <button class="btn btn-lg" ui-sref="manager">Back to Manager Home</button>
        </center>
    </div>
</div>

