@model BitBooking.DAL.Models.AccomodationService

@{
    ViewBag.Title = "Create";
    Layout = null;
}
<div class="container">

<h2>Create new Accomodation Service</h2>


    <div class="row">
        <div>

            <div class="alert alert-info" role="alert">Here as Seller You can add new services your Hotel has to offer! All parameters are required</div>

        </div>
        <form novalidate="novalidate" ng-submit="SRCtrl.SellerService.newService()" class="form-horizontal">

            <div class="form-horizontal">
                <h4>Accomodation Service</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @ng_model = "SRCtrl.SellerService.serviceName", @required = "required", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.AccomodationServiceTypeId, "Service Type:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("AccomodationServiceTypeId", null, htmlAttributes: new { @ng_model = "SRCtrl.SellerService.serviceType", @required = "required", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AccomodationServiceTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
   

     
    </div>
    <div>
        <center>
            <button class="btn btn-lg" ui-sref="manager">Back to Manager Home</button>
        </center>
    </div>

</div>