@model IEnumerable<BitBooking.DAL.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Accomodation.AccomodationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType.RoomTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th></th>
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="background-color:black">
                <td>
                    @Html.DisplayFor(modelItem => item.Accomodation.AccomodationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType.RoomTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PhotoId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PhotoId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PhotoId })
                </td>
            </tr>
        }
    </tbody>   

</table>
@section Scripts{

    <script>
    $(document).ready( function () {
    $('#table_id').DataTable();
} );


    </script>

}