@model IEnumerable<BitBooking.DAL.Models.Accomodation>

@{
    ViewBag.Title = "Index";
}

<h2>BITBooking Administration</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <hr/>
    @Html.ActionLink("Create AND INVITE SIMPLY", "NewAccomodation")
</p>
<table class="table" id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccomodationInfo.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccomodationType.AccomodationTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccomodationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRooms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="background-color:black">
                <td>
                    @Html.DisplayFor(modelItem => item.AccomodationInfo.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccomodationType.AccomodationTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccomodationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StarRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfRooms)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AccomodationId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AccomodationId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AccomodationId })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script>
    $(document).ready( function () {
    $('#table_id').DataTable();
} );


    </script>

}
