@model BitBooking.DAL.Models.Room

@{
    Layout = null;
    ViewBag.Title = "Create";
}
<div class="container">
    <div class="letters">
        <br /><center><h8>Add new Room</h8></center> 
    </div>
    <form novalidate="novalidate" ng-submit="SRCtrl.SellerService.newRoom()" class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfRooms, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfRooms, new { htmlAttributes = new { @ng_model = "SRCtrl.SellerService.roomNumber", @required = "required", @class = "form-control",  @type="number"  } })
                @Html.ValidationMessageFor(model => model.NumberOfRooms, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @ng_model = "SRCtrl.SellerService.roomPrice", @required = "required", @class = "form-control" , @type="number"  } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoomCapacity, new { htmlAttributes = new { @ng_model = "SRCtrl.SellerService.roomCapacity", @required = "required", @class = "form-control", @type="number"  } })
                @Html.ValidationMessageFor(model => model.RoomCapacity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomTypeId, "Room Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoomTypeId", null, htmlAttributes: new { @ng_model = "SRCtrl.SellerService.roomType", @required = "required", @class = "form-control"  })
                @Html.ValidationMessageFor(model => model.RoomTypeId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.RoomDetails, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoomDetails, new { htmlAttributes = new { @ng_model = "SRCtrl.SellerService.roomDetails", @required = "required", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoomDetails, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </form>

    <hr /><br />
    <div>
        <center>
            <button class="btn btn-lg" ui-sref="manager">Back to Manager Home</button>
        </center>
    </div>
</div>