@model BitBooking.DAL.Models.RoomAvailability

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoomAvailability</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccomodationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccomodationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoomAvailabilityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
